/* Navbar.css */

/* Navbar container */
.navbar-container {
    position: fixed;
    top: 0;
    background: linear-gradient(to right, rgb(25, 25, 25), rgb(61, 61, 61));
    height: 4rem;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    z-index: 1;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */
  }
  
  /* Logo text style */
  .logo {
    color: #ffffff; /* Change to your desired text color */
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 25px;
  }
  
  /* Nav links container style */
  .nav-links {
    margin-left: 1.5rem; /* Adjust the left margin as needed */
    display: flex;
    align-items: center;
  }
  
  /* Nav link style */
  .nav-link {
    color: #ffffff; /* Change to your desired text color */
    font-size: 1.25rem; /* Adjust the font size as needed */
    padding-right: 20px;
    transition: color 0.3s; /* Smooth color transition on hover */
  }
  
  /* Nav link hover style */
  .nav-link:hover {
    font-size: 1.5rem;
    color: #e8ff19; /* Change to your desired hover color */
  }
  
  .auth-btns{
    padding-right: 20px;
  }
  
 
  .button {
    border: 1px solid #ffffff; /* Change to your desired border color */
    background-color: transparent;
    color: #fff; /* Change to your desired text color */
    font-weight: bold;
    padding: 0.25rem 1rem;
    border-radius: 999px; /* Rounded border */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 1rem; /* Adjust the left margin as needed */
  }
  
 
  .button:hover {
    background-color: #ffffff; /* Change to your desired hover background color */
    color: rgb(59 130 246); /* Change to your desired hover text color */
  }
  